<%- include("partials/header.ejs"); %> <% if (locals.name) { %>
<h1>Welcome, <%= name %>!</h1>
<%} else { %>
<h1>Welcome, guest!</h1>
<%} %>
<main class="container">
  <form class="task-card" method="POST" action="/add">
    <label for="">Task Name:</label>
    <input name="tName" placeholder="Name..." type="text" />
    <label for="">Task Date:</label>
    <input name="tDate" type="date" />
    <label for="">Task Description:</label>
    <input name="tDesc" placeholder="Description..." type="text" />
    <button class="add-button" type="submit">Add</button>
  </form>
</main>
<%- include("partials/footer.ejs"); %>
